body{
    background-color:grey;
    font-family: monospace;
    line-height: 3;
    text-transform: uppercase;
    text-align: center;
    font-size:large;
}
.submit{
    color:blue;
}
.result{
    font-size:large;
}
label{
    color: pink;
    padding: 25px;
    font-size: 2em;
}
label input{
    color: black;
    padding: 5px;
    margin-left: 20px;
    width:fit-content;
    border-style: double;
}
.submit{
    color: pink;
    padding: 5px;
    margin-left: 20px;
    background-color: black;
}